.headerContent{
  height: 60px;
  width: 100%;
  background-color: #18211E;
  position: fixed;
  top: 0px;
  left: 0px;
}

#headerName{
  font-family: impact;
  font-size: 48px;
  color: #984B43;
  margin-left: 15px;
}

#hamburger{
  width: 60px;
  height: 60px;
  float: right;
  margin-right: 15px;
}

#clickSlide{
  top: 60px;
  list-style-type: none;
  font-size: 30px;
  width: 300px;
  height: 400px;
  margin: 0;
  padding: 0;
  right: 0px;
  float: right;
  background-color: #18211E;
}

#clickSlide a{
  text-decoration: none;
  display: block;
  padding: 2px;
  margin: 5px;
  margin-top: 55px;
  text-align: center;
  color: #984B43;
  font-family: impact;
}
