.headerContent{
  height: 60px;
  width: 100%;
  background-color: #18211E;
  position: fixed;
  top: 0px;
  left: 0px;
}

#headerName{
  font-family: impact;
  font-size: 48px;
  color: #984B43;
  margin-left: 15px;
}

#hamburger{
  width: 60px;
  height: 60px;
  float: right;
  margin-right: 15px;
}

#clickSlide{
  top: 60px;
  list-style-type: none;
  font-size: 30px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  width: 300px;
  height: 400px;
  margin-right: 0;
  float: right;
  background-color: #18211E;
  border-top: 5px solid #984B43;
}

#clickSlide a{
  text-decoration: none;
  padding-top: 12%;
  color: #984B43;
  font-family: impact;
  text-align: center;
  float: right;
}
